# for loop is first setp  of automation is repeat the given value

In [8]:
for m in range(12):
    print(a, "khan")

11 khan
11 khan
11 khan
11 khan
11 khan
11 khan
11 khan
11 khan
11 khan
11 khan
11 khan
11 khan

In [11]:
for number in range(1,10):
    print(number)

1
2
3
4
5
6
7
8
9

In [15]:
for number in range(1,10,3):
    print("kjg")

kjg
kjg
kjg

In [22]:
for m in range(12):
    print(a, "khan")

11 khan
11 khan
11 khan
11 khan
11 khan
11 khan
11 khan
11 khan
11 khan
11 khan
11 khan
11 khan

In [23]:
for number in range(1,10):
    print(number)

1
2
3
4
5
6
7
8
9

In [26]:
for number in range(10,1,-2):
    print(number, "gjgj")

10 gjgj
8 gjgj
6 gjgj
4 gjgj
2 gjgj

In [30]:
area= ["fsd", "lhr", "pwd", "khi"]

In [31]:
area

['fsd', 'lhr', 'pwd', 'khi']

In [53]:
#for loops m agr list ho gi to seprates ho gi list k elements alada print ho ga  
#agr sipmle list = name {  } type ho gi to simple list print ho gi

In [48]:
area= ["fsd", "lhr", "pwd", "khi"]

In [49]:
area

['fsd', 'lhr', 'pwd', 'khi']

In [52]:
for city in area:
    print(f"the city in under {city}")

the city in under fsd
the city in under lhr
the city in under pwd
the city in under khi

In [60]:
num=[11,22,33,44]
num

[11, 22, 33, 44]

In [61]:
num=[11,22,33,44]

In [64]:
for num in [11,22,33,44]:
    print(num)

11
22
33
44

In [1]:
country = "pak"
for char in country:
    print(char)

p
a
k

In [6]:
country = "pak , amarica"
for char in country:
    print(char)

p
a
k

,

a
m
a
r
i
c
a

In [7]:
country = "pak" , amarica
for char in country:
    print(char)

NameError: name 'amarica' is not defined

# if  for loop character is more then one then  its print whole character not the value as  you seen above

In [3]:
country = "pak" , "amarica"
for char in country:
    print("\n",char)

 pak

 amarica

# for loop break

In [9]:
for number in range(10):
    if number%3==0
    break
    print(number)

SyntaxError: invalid syntax (<ipython-input-9-ba2d8db38907>, line 2)

In [19]:
for number in range(10):
    if number%3==1:
        break
    print (number)

0

In [21]:
for number in range(10):
    if number%3!=0:
        break
    print (number)

0

In [18]:
for number in [5,7,9]:
    if number%2==0:
        break
    print(number)

5
7
9

In [26]:
for number in [5,7,9,20,90,15]:
    if number%2==0:
        break
    print(number)

5
7
9

In [27]:
for number in [5,7,9,15,20,90,]:
    if number%2==0:
        break
    print(number)

5
7
9
15

In [ ]:
#break loop is terminate it cant run furter as you see above

# continue system

In [30]:
for num in range(10):
    if num==7:
        continue
    print(num)

0
1
2
3
4
5
6
8
9

In [35]:
for num in range(11):
    if num==5:
        continue
    print(num)

0
1
2
3
4
6
7
8
9
10

In [38]:
for num in range(12):
    if num==4 or num==5:
        continue
    print(num)

0
1
2
3
6
7
8
9
10
11

# in continue loop you can skip value or break without stop in looping

# nested for loop

In [ ]:
#in this outer loop work first an inner loop start after

In [44]:
for a in range(5):
    print("inner")
    for char in "pak":
        print(a, char)

inner
0 p
0 a
0 k
inner
1 p
1 a
1 k
inner
2 p
2 a
2 k
inner
3 p
3 a
3 k
inner
4 p
4 a
4 k

In [3]:
table = int(input("enter table number"))
for num in range(1,11):
    print(f"{table} * {num} = {table*num}")

enter table number7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [13]:
tables = int(input("enter table"))
for table in range (2,tables+1):
    for a in range(1,6):
        print(f"{table} * {a} = {table*a}")

enter table5
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25

In [24]:
tables = int(input("enter table"))
for table in range (5,tables+1):
    for a in range(1,6):
        print(f"{table} * {a} = {table*a}")

enter table3

In [25]:
#as we see that in range if we put value more then given value its not give print

# type casting

In [26]:
userinput = input ("enter something")
type(userinput)

enter somethingheloo

str

In [ ]:
userinput = input ("enter something")
type(userinput)

In [33]:
#int for change in integers

In [28]:
userinput = int(input ("enter something"))
type(userinput)

enter something8

int

# only number converts in float

In [32]:
float(6)

6.0

# case changing

In [34]:
name = "pakistan"

In [35]:
name

'pakistan'

In [36]:
name.title()

'Pakistan'

In [37]:
type (name)

str

# dicitonary

# in dicitonary we use { }, in list we use [] , in function we use (),
# my_docx={key:value, key:value ,key:value}

In [39]:
#adding a new key  in current dict we use [] for add value in end  for exemple in dict mydict["email"]="talha62643@gmail.com"

In [52]:
mydict = {"name":"talha", "age":20, "gender":"male"}
len(mydict)

3

In [53]:
mydict

{'name': 'talha', 'age': 20, 'gender': 'male'}

In [54]:
mydict["email"]="talha62643@gmail.com"

In [55]:
mydict

{'name': 'talha', 'age': 20, 'gender': 'male', 'email': 'talha62643@gmail.com'}

# accesss my key value in dict for exemple ["age"] true or [age] false

In [56]:
mydict["age"]

20

In [57]:
mydict["email"]

'talha62643@gmail.com'

In [ ]:
#for interger we use [3] that

In [58]:
newdict={1:"asad", 2:"noor", 3:"ali" }

In [59]:
newdict[2]

'noor'

# del a key

In [61]:
del newdict[2]

In [62]:
newdict

{1: 'asad', 3: 'ali'}

# update a key

In [63]:
mydict

{'name': 'talha', 'age': 20, 'gender': 'male', 'email': 'talha62643@gmail.com'}

In [64]:
mydict["email"]='tk86863@gmail.com'

In [65]:
mydict

{'name': 'talha', 'age': 20, 'gender': 'male', 'email': 'tk86863@gmail.com'}

# if we add key with same word then it replace with big integer

In [67]:
adict={1:100, 2:200, 3:300, 4:400, 2:2388}

In [68]:
adict

{1: 100, 2: 2388, 3: 300, 4: 400}

# check value

In [69]:
2 in adict

True

In [71]:
"age" in mydict

True

In [73]:
"NANME" in mydict

False

In [4]:
newdict={1:"asad", 2:"noor", 3:"ali" }
newdict

{1: 'asad', 2: 'noor', 3: 'ali'}

In [5]:
del newdict[2]
print(newdict)

{1: 'asad', 3: 'ali'}

In [6]:
newdict={1:"asad", 2:"noor", 3:"ali" }
newdict

{1: 'asad', 2: 'noor', 3: 'ali'}

In [8]:
newdict={1:"asad", 2:"noor", 3:"ali" }
for value in newdict.valueus():
    print (valueus)
    for key in newdict.key():
        print(key)

AttributeError: 'dict' object has no attribute 'valueus'

In [12]:
dict = {"name":"talha", "age":20, "gender":"male", "value": 3, 3,99}
for value in dict.values():
    print (values)

NameError: name 'values' is not defined

In [19]:
newdict = {"name":"talha", "age":20, "gender":"male",}
newdict

{'name': 'talha', 'age': 20, 'gender': 'male'}

In [20]:
newdict["value"]= "ffgfgf"

In [21]:
newdict

{'name': 'talha', 'age': 20, 'gender': 'male', 'value': 'ffgfgf'}

In [23]:
newdict ={'name': 'talha', 'age': 20, 'gender': 'male', 'value': 'ffgfgf'}
for value in dict.value():
    print (value)

AttributeError: 'dict' object has no attribute 'value'